* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Helvetica", Sans-Serif;
}

body {
    margin-top: 80px;
}

/* --------- HEADER ------------ */
header {
    /* width: 100%; */
    height: 80px;
    background-color: #ff6801;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.row {
    max-width: 1180px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: white;
    font-weight: 600;
    text-decoration: none;
    padding: 5px;
}

header nav a:hover {
    text-decoration: underline;
}

header .logo img {
    width: 150px;
    cursor: pointer;
}

header .h-icon {
    color: white;
    font-size: 22px;
}

header .h-icon i {
    padding: 5px;
    cursor: pointer;
}

/* ------- MAIN ------- */
main.items-container {
    padding: 100px 20px;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 40px;
}

main.items-container .item-col {
    flex: 1 0 320px;
}

.item {
    background-size: cover;
    background-position: center;
    height: 600px;
    position: relative;
    margin-bottom: 5px;
}

.item .heart {
    background-color: white;
    position: absolute;
    top: 20px;
    right: 0px;
    padding: 10px;
    cursor: pointer;
}

.item .heart:hover {
    color: red;
}

.item .flag {
    color: white;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    bottom: 40px;
    left: 0;
}

.item .flag .discount {
    background-color: red;
    padding: 4px 8px;
}

.item .flag .green {
    background-color: green;
    padding: 4px 8px;
}

.product-details .brand {
    color: gray;
    font-size: 12px;
}

.product-details .type {
    font-size: 16px;
    text-transform: uppercase;
}

.product-details .price {
    font-size: 14px;
}

.price .final-price {
    color: red;
    font-weight: bold;
}

.price .initial-price {
    color: grey;
    text-decoration:line-through;
}

/* -------- ITEM IMAGE --------  */
.item.i1 {
    background-image: url("../img/1.webp");
}

.item.i1:hover {
    background-image: url("../img/1b.webp");
}

.item.i2 {
    background-image: url("../img/2.webp");
}

.item.i2:hover {
    background-image: url("../img/2b.webp");
}

.item.i3 {
    background-image: url("../img/3.webp");
}

.item.i3:hover {
    background-image: url("../img/3b.webp");
}

.item.i4 {
    background-image: url("../img/4.webp");
}

.item.i4:hover {
    background-image: url("../img/4b.webp");
}

.item.i5 {
    background-image: url("../img/5.webp");
}

.item.i5:hover {
    background-image: url("../img/5b.webp");
}

.item.i6 {
    background-image: url("../img/6.webp");
}

.item.i6:hover {
    background-image: url("../img/6b.webp");
}

/* ------- FOOTER --------- */
footer {
    background-color: #1a1a1b;
    color: white;
    padding: 40px 10px;
}

.infobox h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.infobox a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    margin-right: 10px;
}

.infobox a:hover {
    text-decoration: underline;
}

.social h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.social i {
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}