* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* --------- HEADER ------------ */
header {
    width: 100%;
    height: 80px;
    padding: 0 30px;
    background-color: #ff6801;
    position: fixed;
}
.row {
    max-width: 1180px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: white;
    font-weight: 600;
    text-decoration: none;
    padding: 5px;
}

header nav a:hover {
    text-decoration: underline;
}

header .logo img {
    width: 150px;
}

header .h-icon {
    color: white;
    font-size: 22px;
}

header .h-icon i {
    padding: 5px;
    cursor: pointer;
}